body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
}

a {
    color: #F9FAF8;
    text-decoration: none;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2563EB;
}

.nav {
    display: flex; 
    background-color: #1F2937;
    padding: 5px 200px;
    justify-content: space-between; 
    align-items: center;
    
}

.section1 {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 200px;

}

.section1 h1 {
    margin-bottom: 10px;
}

.section1 p {
    margin-bottom: 20px;
}

.section2 {
    background-color: white;
    text-align: center;
    padding: 40px 200px;
}

.figcaption {
    text-align: center;
    font-size: small;
}

.section3 {
    background-color: #E5E7EB;
    text-align: center;
    padding: 40px 200px;
}

.section4 {
    background-color: white;
    text-align: center;
    padding: 40px 200px;
}

.section4 div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px; 
    background-color: #3882F6; 
    border-radius: 10px 
}

.section5 {
    background-color: #1F2937;
    color: #E5E7EB;
    text-align: center;
    padding: 10px;
    
}

/* responsive design */
@media (max-width: 768px) {
    .nav, .section1, .section2, .section3, .section4 {
        padding: 20px 5%;
    }

    .nav {
        flex-direction: column;
        gap: 10px;
    }

    .section1 {
        flex-direction: column;
        text-align: center;
    }

    .section1 img {
        max-width: 100%;
        margin-top: 20px;
    }

    .section2 div {
        flex-direction: column;
        align-items: center;
    }

    figure {
        flex-basis: 100%;
    }

    .section4 div {
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }
}

@media (max-width: 480px) {
    body {
        font-size: 14px;
    }

    .section1 h1 {
        font-size: 36px;
    }

    .section1 p {
        font-size: 16px;
    }

    .section3 blockquote p {
        font-size: 24px;
    }
}